{% extends 'main.html' %}
{% block content %}
{% load static %}
<div class="row mt-3">
  <div style="width: 800px; margin: 0 auto;">
    {% if messages %}
    <ul class="alert alert-success" style="list-style: none;">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
  </div>
  <div class="col-md-4">
    <div class="card box-element" style="width: 18rem;">
      {% if profile.profile_image%}
      <img src="{{profile.profile_image.url}}" class="avatar" alt="...">
      {% else %}
      <img src="http://www.gravatar.com/avatar/?d=identicon" class="avatar" alt="...">
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{request.user.username}}</h5>
        <p class="card-text text-muted">
          {% if profile %}
          {{profile.bio|safe}}
        </p>
        {% endif %}
        <div style="display: flex;">
          <div id="followers" data-profile="{{profile.id}}" style="flex:3">
            <h6 class="text-center"><b>{{profile.follower_count}}<p>Followers</p></b></h6>
          </div>
          <div id="followings" data-profile="{{profile.id}}" style="flex:3">
            <h6 class="text-center"><b>{{profile.following_count}}<p>Following</p></b></h6>
          </div>
          <div id="posts" data-profile="{{profile.id}}" style="flex:3">
            <h6 class="text-center"><b>{{profile.post_count}}<p>Posts</p></b></h6>
          </div>
        </div>
        <div>
          <a href="{% url 'update-profile' %}" class="btn btn-outline-dark">Update Profile</a>
        </div>
      </div>
    </div>
  </div>
  <div id="feed-content" class="col-md-7 mx-auto box-element" style="height:max-content;">
    <ul class="nav nav-pills mt-3 mb-3" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="pills-feed-tab" data-toggle="pill" href="#pills-feed" role="tab"
          aria-controls="pills-feed" aria-selected="true">Feed</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="pills-explore-tab" data-toggle="pill" href="#pills-explore" role="tab"
          aria-controls="pills-explore" aria-selected="false">Explore</a>
      </li>
      <li class="nav-item" style="margin: 0 auto;" role="presentation">
        <a href="{% url 'create-post' %}" class="btn btn-outline-info">Create Post</a>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-feed" role="tabpanel" aria-labelledby="pills-feed-tab">
        <h3>Feed</h3>
        {% include 'post_list.html' with posts=feed_posts %}
      </div>
      <div class="tab-pane fade" id="pills-explore" role="tabpanel" aria-labelledby="pills-explore-tab">
        <h5>People may you know</h5>
        {% for p in explore_profiles %}
            <div class="profile-row" onclick="window.parent.location='{% url 'visit-profile' p.id %}'">
                <div style="flex:1">
                {% if p.profile_image%}
                <img style="width: 50%;height: 50%;" src="{{p.profile_image.url}}" alt="..." class="avatar">
                {% else %}
                <img style="width: 50%;height: 50%;" src="http://www.gravatar.com/avatar/?d=identicon" class="avatar"
                    alt="...">
                {% endif %}
                </div>
                <div style="flex:1"><strong>{{p.user.username}}</strong></div>
                <div style="flex:1"><strong>{{p.user.first_name}} {{p.user.last_name}}</strong></div>
                <div style="flex:1">
                {% if p.user != request.user %}
                <button id="unfollow-{{p.user.id}}" class="btn btn-outline-danger unfollow"
                    {% if request.user not in p.get_followers %}style="display:none;" {%endif%} data-target="{{p.user.id}}"
                    data-follower="{{request.user.id}}">Unfollow</button>
                <button id="follow-{{p.user.id}}" class="btn btn-outline-info follow"
                    {% if request.user in p.get_followers %}style="display:none;" {%endif%} data-target="{{p.user.id}}"
                    data-follower="{{request.user.id}}">Follow</button>
                  {% endif %}
                </div>
            </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock%}