{% for post in posts %}
<div class="card mb-2">
    <div class="card-header">
        {{post.title}}
        <a style="float: right;" href="{% url 'visit-profile' post.author.id %}">{{post.author.user.username}}</a>
    </div>
    <div class="card-body" onclick="location.href='{% url 'post-detail' post.id %}'">
        {{post.content|safe}}
    </div>
    <div>
        <span class="mx-2">
            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
            {{post.like_count}}
        </span>
        <span class="mx-2">
            <i class="fa fa-comment" aria-hidden="true"></i>
            {{post.comment_count}}
        </span>
    </div>
</div>
{% endfor %}