{% for p in profiles %}
    <div class="profile-row" onclick="window.parent.location='{% url 'visit-profile' p.id %}'">
        <div style="flex:1">
        {% if p.profile_image%}
        <img style="width: 50%;height: 50%;" src="{{p.profile_image.url}}" alt="..." class="avatar">
        {% else %}
        <img style="width: 50%;height: 50%;" src="http://www.gravatar.com/avatar/?d=identicon" class="avatar"
            alt="...">
        {% endif %}
        </div>
        <div style="flex:1"><strong>{{p.user.username}}</strong></div>
        <div style="flex:1"><strong>{{p.user.first_name}} {{p.user.last_name}}</strong></div>
        <div style="flex:1">
        <button id="unfollow-{{p.user.id}}" class="btn btn-outline-danger unfollow"
            {% if request.user not in p.get_followers %}style="display:none;" {%endif%} data-target="{{p.user.id}}"
            data-follower="{{request.user.id}}">Unfollow</button>
        <button id="follow-{{p.user.id}}" class="btn btn-outline-info follow"
            {% if request.user in p.get_followers %}style="display:none;" {%endif%} data-target="{{p.user.id}}"
            data-follower="{{request.user.id}}">Follow</button>
        </div>
    </div>
{% endfor %}