{% extends 'main.html' %}
{% block content %}
{% load static %}
<div class="row">
    <div style="width: 800px; margin: 0 auto;">
        {% if messages %}
        <ul class="alert alert-success" style="list-style: none;">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="col-md-4">
        {% if profile %}
        <div class="card" style="width: 18rem;">
            <img src="{{profile.profile_image.url}}" class="avatar" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{request.user.username}}</h5>
                <p class="card-text">
                  {{profile.bio}}
                </p>
              <a href="{% url 'update-profile' %}" class="btn btn-outline-dark">Update Profile</a>
            </div>
          </div>
        {% endif %}
    </div>
</div>
{% endblock%}