<h5>Order Line</h5>
<table class="table">
    {% for k,v in line_items.items %}
    <tr><th>{{k}}</th></tr>
    <thead class="bg-info" style="color: white;">
        <tr>
            <th>Line Item</th>
            <th>Line Item Type</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {% for line in v %}
        <tr class="line">
            <td>{{line.line_item}}</td>
            <td>{{line.line_item.line_item_type}}</td>
            <td>{{line.line_item.sale_price}}</td>
        </tr>
        {% endfor %}
        {% endfor %}
    </tbody>
</table>