<h5>Select Line Items</h5>
<table class="table">
    <thead class="bg-info" style="color: white;">
        <tr>
            <th>Select</th>
            <th>Line Item</th>
            <th>Charge Category</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {% if order_lines %} 
        {% for item in line_items %}
        <tr {% if item.line_item.id in order_lines %} class="line bg-success" style="color: white;" {% else %} class="line" {% endif %}>
            <td>
                <label class="switch">
                    <input type="checkbox" id="{{item.id}}" {% if item.line_item.id in order_lines %} checked {% endif %}>
                    <span class="slider round"></span>
                </label>
            </td>
            <td>{{item.line_item}}</td>
            <td>{{item.charge_category}}</td>
            <td>{{item.sale_price}}</td>
        </tr>
        {% endfor %} 
        {% else %} 
        {% for item in line_items %}
        <tr class="line">
            <td>
                <label class="switch">
                    <input type="checkbox" id="{{item.id}}">
                    <span class="slider round"></span>
                </label>
            </td>
            <td>{{item.line_item}}</td>
            <td>{{item.charge_category}}</td>
            <td>{{item.sale_price}}</td>
        </tr>
        {% endfor %} {% endif %}
    </tbody>
    <script>
        $('.line').click(function(e) {
            if ($(this).find('input').is(":checked")) {
                $(this).find('input').prop({
                    'checked': false
                });
                $(this).removeClass('bg-success').css({
                    'color': '#858796'
                })
            } else {
                $(this).find('input').prop({
                    'checked': true
                });
                $(this).addClass('bg-success').css({
                    'color': 'white'
                })
            }
        })
    </script>
</table>