{% load tags %}
<form id="templates_form" action="" method="post">
    <table class="table" id="dataTable">
        <thead>
            <tr>
                <th>Line Item</th>
            </tr>
        </thead>
        <tbody>
            {% for line in template.line_items.all %}
            <tr>
                <td>{{line.line_item}}</td>
            </tr>
            {% endfor %}
            {% csrf_token %}
            {{formset.management_form}}
            {% for form in formset.forms %}
            <tr class='added-row'>
                <td>{{form.line_item|add_class:"form-control"}}</td>
                <td class="delete-line d-none" style="width: 1px;"></td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
    <button type='submit' class='btn btn-success mx-1 shadow'>Save</button>
</form>
<script>
    $(document).ready(function () {
        $('tr:last').after('<button id="add_more" class="btn btn-link" style="text-decoration:none;">+ Add template</button>')
        $('#add_more').click(function (e) {
            e.preventDefault();
            $('.btn-success').click()
            cloneMore('.added-row:last', 'line_items');
        });
        $('.delete-line').click(function (e){
            e.preventDefault();
            removeItem(this,'line_items');
        });
        // $('#templates_form').submit(function (e) {
        //     e.preventDefault();
        //     var form = $(this)
        //     console.log("=======",form.serialize())
        //     $.ajax({
        //         url: '/template/'+'{{template.id}}'+'/',
        //         method: form.attr('method'),
        //         data: form.serialize(),
        //         success: function(response) {
        //             console.log("----",response)
        //             form.html(response.form)
        //         }
        //     })
        // })
        
    });
</script>