{% extends 'frontend/index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% load tags %}
<a class="btn btn-outline-dark mb-2 mx-3" href="{{request.META.HTTP_REFERER|escape}}">Back</a>
<div class="col-lg-10 p-20" style="font-size: small;">
    <div class="card shadow p-3">
        <h3>{{template.name}}</h3>
        <br>
        <p><b>Template ID: </b>{{template.template_id}}</p>
        <p><b>Line Items: </b>{{template.line_count}}</p>
        <br>
        <h5>Templates</h5>
        <form id="templates_form" action="" method="post">
            <table class="table" id="dataTable">
                <thead>
                    <tr>
                        <th>Line Item</th>
                    </tr>
                </thead>
                <tbody>
                    {% for line in template.line_items.all %}
                    <tr>
                        <td>{{line.line_item}}</td>
                    </tr>
                    {% endfor %}
                    {% csrf_token %}
                    {{formset.management_form}}
                    {% for form in formset.forms %}
                    <tr class='added-row'>
                        <td>{{form.line_item|add_class:"form-control"}}</td>
                        <td class="delete-line d-none" style="width: 1px;"></td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
            <button type='submit' class='btn btn-success mx-1 shadow'>Save</button>
        </form>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('tr:last').after('<button id="add_more" class="btn btn-link" style="text-decoration:none;">+ Add template</button>')
        $('#add_more').click(function (e) {
            e.preventDefault();
            cloneMore('.added-row:last', 'line_items');
        });
        $('.delete-line').click(function (e){
            e.preventDefault();
            removeItem(this,'line_items');
        });
        
    });
</script>
{% block javascript %}
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}
{% endblock %}