{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <table class="fourdots">
            <tr>
                <td><button disabled id="11" class="col1 row1"></button></td>
                <td><button disabled id="12" class="col2 row1"></button></td>
                <td><button disabled id="13" class="col3 row1"></button></td>
                <td><button disabled id="14" class="col4 row1"></button></td>
                <td><button disabled id="15" class="col5 row1"></button></td>
                <td><button disabled id="16" class="col6 row1"></button></td>
                <td><button disabled id="17" class="col7 row1"></button></td>
            </tr>
            <tr>
                <td><button disabled id="21" class="col1 row2"></button></td>
                <td><button disabled id="22" class="col2 row2"></button></td>
                <td><button disabled id="23" class="col3 row2"></button></td>
                <td><button disabled id="24" class="col4 row2"></button></td>
                <td><button disabled id="25" class="col5 row2"></button></td>
                <td><button disabled id="26" class="col6 row2"></button></td>
                <td><button disabled id="27" class="col7 row2"></button></td>
            </tr>
            <tr>
                <td><button disabled id="31" class="col1 row3"></button></td>
                <td><button disabled id="32" class="col2 row3"></button></td>
                <td><button disabled id="33" class="col3 row3"></button></td>
                <td><button disabled id="34" class="col4 row3"></button></td>
                <td><button disabled id="35" class="col5 row3"></button></td>
                <td><button disabled id="36" class="col6 row3"></button></td>
                <td><button disabled id="37" class="col7 row3"></button></td>
            </tr>
            <tr>
                <td><button disabled id="41" class="col1 row4"></button></td>
                <td><button disabled id="42" class="col2 row4"></button></td>
                <td><button disabled id="43" class="col3 row4"></button></td>
                <td><button disabled id="44" class="col4 row4"></button></td>
                <td><button disabled id="45" class="col5 row4"></button></td>
                <td><button disabled id="46" class="col6 row4"></button></td>
                <td><button disabled id="47" class="col7 row4"></button></td>
            </tr>
            <tr>
                <td><button disabled id="51" class="col1 row5"></button></td>
                <td><button disabled id="52" class="col2 row5"></button></td>
                <td><button disabled id="53" class="col3 row5"></button></td>
                <td><button disabled id="54" class="col4 row5"></button></td>
                <td><button disabled id="55" class="col5 row5"></button></td>
                <td><button disabled id="56" class="col6 row5"></button></td>
                <td><button disabled id="57" class="col7 row5"></button></td>
            </tr>
            <tr>
                <td><button disabled id="61" class="col1 row6"></button></td>
                <td><button disabled id="62" class="col2 row6"></button></td>
                <td><button disabled id="63" class="col3 row6"></button></td>
                <td><button disabled id="64" class="col4 row6"></button></td>
                <td><button disabled id="65" class="col5 row6"></button></td>
                <td><button disabled id="66" class="col6 row6"></button></td>
                <td><button disabled id="67" class="col7 row6"></button></td>
            </tr>
        </table>
    </div>
    <div class="col-md-4 box-element" style="padding: 1%;">
        <h1>Connect Four Dots</h1><br>
        <p class="text-muted">Connect four dots either horizontal or vertical to win</p>
        <button id="start" type="button" onclick="startGame()" class="btn btn-outline-dark">Start Game</button>
        <br />
        <div id="players" style="display: none;" class="mt-3">
            <h5><span id="player1"></span><span class="reddot"></span></h5>
            <h5><span id="player2"></span><span class="bluedot"></span></h5>
            <p class="text-muted mt-2">Click any dot to start!</p>
        </div>
        <br />
        <div id="playerturn" style="display: none;" class="mt-3">
            <h5 id="turn"></h5>
        </div>
        <br />
        <div id="result" style="display: none;" class="mt-3">
            <h4>Congratulations!</h4><br>
            <h5 id="message"></h5>
            <button id="reset" type="reset" onclick="window.location.reload()" class="btn btn-outline-info">Play
                Again</button>
        </div>
    </div>
</div>
<script>
    function startGame() {
        $('#start').hide();
        $('.fourdots button').prop("disabled",false);
        var data = {
            'col1': $('.col1'),
            'col2': $('.col2'),
            'col3': $('.col3'),
            'col4': $('.col4'),
            'col5': $('.col5'),
            'col6': $('.col6'),
            'col7': $('.col7'),
        }
        var rowdata = {
            'row1': $('.row1'),
            'row2': $('.row2'),
            'row3': $('.row3'),
            'row4': $('.row4'),
            'row5': $('.row5'),
            'row6': $('.row6'),
            'row7': $('.row7'),
        }
        function checkWinRow(row, color) {
            var result = rowdata[row];
            var count = 0;
            var win = false;
            for (let rec of result) {
                if (rec.classList.contains(color)) {
                    count++;
                }
                else {
                    count = 0;
                }
                if (count == 4) {
                    win = true;
                    allbuttons = $('button')
                    for (let button of allbuttons) {
                        button.disabled = true;
                    }
                    return win
                }
            }
            return win

        }
        function checkWinColumn(col, color) {
            var result = data[col];
            var count = 0;
            var win = false;
            for (let rec of result) {
                if (rec.classList.contains(color)) {
                    count++;
                }
                else {
                    count = 0;
                }
                if (count == 4) {
                    win = true;
                    allbuttons = $('button')
                    for (let button of allbuttons) {
                        button.disabled = true;
                    }
                    return win
                }
            }
            return win

        }
        var player1 = prompt("Enter Player1 name:")
        var player2 = prompt("Enter Player2 name:")

        function validateNames(p1, p2) {
            if (p1 == '' || p2 == '') {
                alert("Please Provide Names!")
                location.reload();
                return true;
            }
            if (p1 === p2) {
                alert("Names must be unique!")
                player2 = prompt("Enter Player2 name:")
                validateNames(p1, player2)
            }
        }
        validateNames(player1, player2)
        $('#player1').text(player1 + " you have ")
        $('#player2').text(player2 + " you have ")
        $('#players').attr('style', 'display:block;')
        var currentPlayer = 'player1'
        $('button').click(function (e) {
            e.preventDefault();
            col = $(this).attr('class')
            dots = data[col.split(" ")[0]]
            for (let i = dots.length - 1; i >= 0; i--) {
                var btn = dots[i]
                if (btn.classList.contains('red') || btn.classList.contains('blue')) {
                    continue
                }
                else {
                    if (currentPlayer == 'player1') {
                        btn.classList.add('red')
                        currentPlayer = 'player2'
                        if (checkWinRow(btn.classList[1], 'red') || checkWinColumn(btn.classList[0], 'red')) {
                            $('#message').text(player1 + " won the game.")
                            $('#result').attr('style', 'display:block;')
                            $('#reset').prop('disabled', false)
                        }
                        return true
                    }
                    if (currentPlayer == 'player2') {
                        btn.classList.add('blue')
                        currentPlayer = 'player1'
                        if (checkWinRow(btn.classList[1], 'blue') || checkWinColumn(btn.classList[0], 'blue')) {
                            $('#message').text(player2 + " won the game.")
                            $('#result').attr('style', 'display:block;')
                            $('#reset').prop('disabled', false)
                        }
                        return true
                    }
                }
            }
        });
    }
</script>
{% endblock%}