<div id="accordion">
    <h4 style="padding:2%">Tag wise Products</h4>
    {% for tag in tags %}
    <div class="card mt-2">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-light" data-toggle="collapse" data-target="#{{tag.id}}" aria-expanded="true" aria-controls="collapseOne">
            {{tag.name|title}}
          </button>
        </h5>
      </div>
      <div id="{{tag.id}}" class="collapse{% if forloop.first %} show{% endif %}" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in tag.product_set.all %}
                    <tr>
                        <td>{{product.name}}</td>
                        <td>{{product.description}}</td>
                        <td>{{product.category.name}}</td>
                        <td>{{product.price}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
    