<div id="accordion2">
    <h4 style="padding:2%">Tag wise Products</h4>
    {% for tag in tags %}
    <div class="card mt-2" data-toggle="collapse" data-target="#tag-{{tag.id}}" aria-expanded="true" aria-controls="collapseOne">
      <div class="card-header" id="headingOne">
        <strong class="mb-0">
            {{tag.name|title}}
        </strong>
      </div>
      <div id="tag-{{tag.id}}" class="collapse{% if forloop.first %} show{% endif %}" aria-labelledby="headingOne" data-parent="#accordion2">
        <div class="card-body">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in tag.product_set.all %}
                    <tr>
                        <td>{{product.name}}</td>
                        <td>{{product.description}}</td>
                        <td>{{product.category.name}}</td>
                        <td>{{product.price}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
<div class = "col-md-12">
    <div class="text-center">
        {% if tags.has_previous %}
        <a class="btn btn-outline-dark" href="?tagpage={{ tags.previous_page_number }}">Previous</a>
        {% endif %}
        {% if tags.has_next %}
        <a disabled class="btn btn-outline-dark" href="?tagpage={{ tags.next_page_number }}">Next</a>
        {% endif %}
    </div>
</div>
<script>
    $(document).ready(function () {
        if(qs('tagpage')){
            $('#pills-products-tab').removeClass('active')
            $('#pills-products').removeClass('fade active show')
            $('#pills-tag-tab').addClass('active')
            $('#pills-tag').addClass('fade active show')
        }
    });
</script>