#total-orders {
    background-color: #4cb4c7;
}

#orders-delivered {
    background-color: #7abecc;
}

#orders-pending {
    background-color: #7CD1C0;
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
    border-radius: 4px;
}
body{
    overflow-x: hidden;    
}

.closecustom {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }
  .closecustom:hover {
    opacity: 1;
  }
  .closecustom:before, .closecustom:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .closecustom:before {
    transform: rotate(45deg);
  }
  .closecustom:after {
    transform: rotate(-45deg);
  }

  .previous {
    list-style: none;
    float: left;
  }

  .next {
    list-style: none;
    float: right;
  }

  .results_on_deck > div {
    margin: 0.5em 2px !important;
    color: #fff;
    background-color: #17a2b8;
    border-radius: 10rem;
    display: inline-block;
    padding: 1.5%;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 2.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.results_on_deck .ui-icon-trash {
  margin: -3px 3px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background: linear-gradient(to right, #67b26b, #4ca2cb) !important;
}
.nav-item>a{
  color: #000000
}

.nav-justified .nav-item {
  padding: 2px;
}