#total-orders {
    background-color: #4cb4c7;
}

#orders-delivered {
    background-color: #7abecc;
}

#orders-pending {
    background-color: #7CD1C0;
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
    border-radius: 4px;
}